.ContainerMessage {
   
    width: 100%;
    height: 85vh;
    
}

.ContainerMessage  .chatMessage{
    width: 100%;
    height: 90%;

    overflow-y: scroll;
}

.ContainerMessage  .InputMessage{
    width: 96%;
    height: 10%;

    position: relative;
    top: -25px;
}

.formMessage input
{   

    padding:2.5vh;
    width: 100%;
    outline: none;
    border:  none;
    background-color: rgb(233, 230, 230);border-radius: 10px
}
.formMessage input:hover {
opacity: 0.8;
transition: 0.4s;
}

.formMessage button{
    position:absolute;
    margin-left: -60px;
    margin-top:15px
  
}

.teste{
    color:  red;
}

.teste2{
    color:  blue;
}

.notMessage{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     flex-direction: column;
}

.notMessage h1 {
     color:#002233;
    
}

.notMessage  p {
    margin-top: 10px;
    opacity: 0.6;
    color: #0066ff;
}

